<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Advent of Code Leaderboards</title>

	<meta name="viewport" content="user-scalable = no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body {
			background-color: rgb(51, 51, 51);
			color: white;
			text-align: center;
		}

		div.container4 {
			height: 10%;
			position: relative
		}

		div.container4 {
			margin: 0;
			background: rgb(51, 51, 51);
			position: absolute;
			top: 20%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%)
		}
	</style>
</head>

<body>
	<div class=container4>
		<img src="https://media.discordapp.net/attachments/783426468897882212/783430449476403230/728d409f320b2a481f2d338e3b0f0292.png" alt="Bot avatar">
        <h1>
            Advent of Code Leaderboard
        </h1>

        <h2>
            Discord Bot
        </h2>

        <a href="https://top.gg/bot/783205656118820904">
          <input type="button" value="Top.gg website" />
        </a>

        <a href="https://discord.com/api/oauth2/authorize?client_id=783205656118820904&permissions=355392&scope=bot">
          <input type="button" value="Invite" />
        </a>

        <h3>
            Commands:
        </h3>
        
        <table style="text-align: left">
  <tr>
    <th>Command</th>
    <th>Description</th>
    <th>Permission</th>
  </tr>
  <tr>
    <td>help</td>
    <td>Generates a help box</td>
    <td>User</td>
  </tr>
  <tr>
    <td>prefix {prefix}</td>
    <td>Changes the prefix of the bot</td>
    <td>Moderator</td>
  </tr>
  <tr>
    <td>setChannel {id}</td>
    <td>Sets the channel to display the board</td>
    <td>Moderator</td>
  </tr>
  <tr>
    <td>setCode {code}</td>
    <td>Sets the code of the board</td>
    <td>Moderator</td>
  </tr>
  <tr>
    <td>setWidth {width}</td>
    <td>Sets the width of the board</td>
    <td>Moderator</td>
  </tr>
  <tr>
    <td>setYear {year}</td>
    <td>Sets the year of the leaderboard</td>
    <td>User</td>
  </tr>
  <tr>
    <td>setSession {session id}</td>
    <td>Sets the session id from which to recover the board</td>
    <td>Moderator</td>
  </tr>
  <tr>
    <td>ldr</td>
    <td>Displays the leaderboard</td>
    <td>User</td>
  </tr>
</table>
    </div>
</body>

</html>